<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%replace([%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'} | %-5level | %replace(%X{requestID}){'^(.+)$', 'requestId: $1'} | %replace(%X{tenantID}){'^(.+)$', 'tenantId: $1'} | file name: %1logger | %replace(%X{functionName}){'^(.+)$', 'function name: $1'}]){'\|  ', ''} %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>